body {
  background-color: plum;
  height: 100vh;
  text-align: center;
}
svg {
  filter: hue-rotate(-70deg) saturate(5) !important;
}
#player-card {
}
img {
  background-color: white;
  width: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal > div {
  background-color: plum;
  padding: 40px;
}
.modal input {
  padding: 10px;
  margin: 20px auto;
  clear: left;
  display: block;
}
.modal button {
  margin: 20px auto;
  display: block;
}
